#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




.logo {
  height: 29em;
  padding: 1.2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #39ba3729);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #ef1616aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input {
  display: absolute;
  width: 100%;  
  padding: 1em;
  margin: 0.5em 0;
  height: 350px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  text-size-adjust: auto;
  resize: none;
  overflow-wrap: normal;
  background-color: #F8F3EF;
  color-scheme: light dark;
}

.silly {
    display: flex;
    align-items: center;
    min-width: 30%;
    margin-top: -25%;
    margin-bottom: 25%;
    background-color: #da8025;
    border: 2px solid #986210;
    border-radius: 10px;
    color-scheme: light dark;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
}

.silly p {
  margin: 10px 0;
  color: #fff;
  color-scheme: light dark;
}

