:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-weight: 550;
  color:#3a1e05;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #215e15;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3E2C25;
    background-color: #F8F3EF;
  }
  h1{
    color:#3a1e05
  }
  a:hover {
    color: #213D28;
  }
  button {
    background-color: #213D28;
    color: white;
  }
  .input{
    background-color: #F8F3EF;
    color: #3a1e05;
  }
  .input:focus{
    outline: #215e15 auto 4px;
  }
  button:focus{
    outline: #215e15 auto 4px;
  }
  ::-moz-selection { /* Code for Firefox */
    background: rgba(119, 181, 111, 0.631);
  }
  
  ::selection {
    background: rgba(119, 181, 111, 0.631);
  }  
  .top-bar a{
    color: #3a1e05;
  }
  .top-bar a:hover{
    color:#398c29;
  }
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #000000;
    background-color: #000000;
  }
  h1{
    color:#f5f2ef
  }
  a:hover {
    color: #213D28;
  }
  button {
    background-color: #95be9f;

    color: black;
  }
  
  .input{
    background-color: #000000;
    color: #ffffff;
  }
  .input:focus{
    outline: #9fb69a auto 4px;
  }
  .button:focus{
    outline: #9fb69a auto 4px;
  }
  .silly{
    background-color: #d7ae6c;
    border: 2px solid #d19d6b;
  }
  .silly p{
    color: black;
  }
  ::-moz-selection { /* Code for Firefox */
    background: rgba(38, 40, 37, 0.303);
  }

  ::selection {
    background: rgba(38, 40, 37, 0.303);
  }
  .top-bar a{
    color:#f5f2ef;
  }
  .top-bar a:hover{
    color:#d7ae6c;
  }
}

.top-bar{
  position: relative;
  width: 100%;
  height: 50px;
  top:165px;
  z-index: 100;
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-bar a{
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 550;
}
@media only screen and (max-width: 768px) {
  .top-bar {
    flex-wrap: wrap;
    justify-content: center;
    top:155px;
  }
  .top-bar a {
    font-size: 2em;
    
  }
} 